{{> header}}
<section 
  id="new-password"
  class="section-container {{#unless token_verified}}verify-page{{/unless}}"
>
  {{#if token_verified}}
    <h2>
      {{t "pages.reset_password_title"}}
    </h2>
    <p>{{t "pages.reset_password_set_new"}}</p>
    {{> reset_password/new_password_form}}
  {{else}}
    <h2>
      {{> icons/x}}
      {{t "errors.reset_token_invalid"}}
    </h2>
    <a href="/reset-password" title="{{t 'pages.reset_password_title'}}">{{t 'pages.reset_password_link'}}</a>
  {{/if}}
</section>
{{> footer}}