{{> header}}
<section id="verify" class="section-container verify-page">
  {{#if token_verified}}
    <h2 hx-get="/" hx-trigger="load delay:1s" hx-target="body" hx-push-url="/">
      {{t "pages.verified"}}
    </h2>
  {{else}}
    <h2>
      {{> icons/x}}
      {{t "pages.invalid_verification"}}
    </h2>
    <a href="/login" title="{{t 'auth.login_title'}}">{{t 'pages.login_signup'}}</a>
  {{/if}}
</section>
{{> footer}}