{{> header}}
<section id="verify-change-email" class="section-container verify-page">
  {{#if token_verified}}
    <h2 hx-get="/" hx-trigger="load delay:1s" hx-target="body" hx-push-url="/">
      {{t "errors.email_verified"}}
    </h2>
  {{else}}
    <h2>
      {{> icons/x}}
      {{t "errors.email_verify_failed"}}
    </h2>
    {{#if user}}
      <a href="/settings" title="{{t 'common.settings'}}">{{t 'common.settings'}} →</a>
    {{else}}
      <a href="/login" title="{{t 'auth.login_title'}}">{{t 'pages.login_signup'}}</a>
    {{/if}}
  {{/if}}
</section>
{{> footer}}