<thead>
  {{> admin/table_tab title='domains'}}
  <tr class="controls domains-controls with-filters">
    <th class="filters">
      <div>
        <div class="search-input-wrapper">
          <input 
            id="search" 
            name="search" 
            type="text" 
            placeholder="{{t 'admin.search_domain_placeholder'}}" 
            class="table-input search admin" 
            hx-on:input="onSearchChange(event)" 
            hx-on:keyup="resetTableNav()"
            value="{{query.search}}"
          />
          <button 
            type="button" 
            aria-label="{{t 'admin.clear_search'}}" 
            class="clear" 
            onclick="clearSeachInput(event)"
          >
            {{> icons/x}}
          </button>
        </div>
        <div class="search-input-wrapper">
          <input 
            id="search_user" 
            name="user" 
            type="text" 
            placeholder="{{t 'admin.search_user_placeholder'}}" 
            class="table-input search admin" 
            hx-on:input="onSearchChange(event)" 
            hx-on:keyup="resetTableNav()"
            value="{{query.user}}"
          />
          <button 
            type="button" 
            aria-label="{{t 'admin.clear_user_search'}}" 
            class="clear" 
            onclick="clearSeachInput(event)"
          >
            {{> icons/x}}
          </button>
        </div>
        <select id="domains-select-banned" name="banned" class="table-input ban" hx-on:change="resetTableNav()">
          <option value="" selected>{{t 'admin.search_banned'}}</option>
          <option value="true">{{t 'common.banned'}}</option>
          <option value="false">{{t 'common.not_banned'}}</option>
        </select>
      </div>
      <div>
        <select id="domains-select-links" name="links" class="table-input links" hx-on:change="resetTableNav()">
          <option value="" selected>{{t 'admin.search_links'}}</option>
          <option value="true" {{#ifEquals query.links 'true'}}selected{{/ifEquals}}>{{t 'admin.with_links'}}</option>
          <option value="false" {{#ifEquals query.links 'true'}}selected{{/ifEquals}}>{{t 'admin.no_links'}}</option>
        </select>
        <select id="domains-select-owner" name="owner" class="table-input owner" hx-on:change="resetTableNav()">
          <option value="" selected>{{t 'admin.owner_select'}}</option>
          <option value="true" {{#ifEquals query.owner 'true'}}selected{{/ifEquals}}>{{t 'admin.with_owner'}}</option>
          <option value="false" {{#ifEquals query.owner 'true'}}selected{{/ifEquals}}>{{t 'admin.no_owner'}}</option>
        </select>
        <input id="total" name="total" type="hidden" value="{{total}}" />
        <input id="limit" name="limit" type="hidden" value="10" />
        <input id="skip" name="skip" type="hidden" value="0" />
        <button 
          class="table primary"
          hx-on:click='openDialog("admin-table-dialog")' 
          hx-get="/add-domain" 
          hx-target="#admin-table-dialog .content-wrapper" 
          hx-indicator="#admin-table-dialog"
        >
          <span>{{> icons/plus}}</span>
          {{t 'admin.add_domain'}}
        </button>
      </div>
    </th>
    {{> admin/table_nav}}
  </tr>
  <tr>
    <th class="domains-id">{{t 'admin.column_id'}}</th>
    <th class="domains-address">{{t 'admin.column_address'}}</th>
    <th class="domains-homepage">{{t 'admin.column_homepage'}}</th>
    <th class="domains-created-at">{{t 'admin.column_created_at'}}</th>
    <th class="domains-links-count">{{t 'admin.column_total_links'}}</th>
    <th class="domains-actions"></th>
  </tr>
</thead>
