<div class="content">
  <h2>{{t "admin.delete_user"}}</h2>
  <p>
    {{t "admin.delete_user_confirm"}}<br/>
    <b>{{t "admin.all_data_will_be_deleted"}}</b>
  </p>
  <div class="buttons">
    <button type="button" hx-on:click="closeDialog()">{{t "common.cancel"}}</button>
    <button 
      type="button"
      class="danger confirm" 
      hx-delete="/api/users/admin/{id}" 
      hx-ext="path-params" 
      hx-vals='{"id":"{{id}}"}' 
      hx-target="closest .content" 
      hx-swap="none" 
      hx-indicator="closest .content"
      hx-select-oob="#dialog-error"
    >
      <span>{{> icons/trash}}</span>
      {{t "common.delete"}}
    </button>
    {{> icons/spinner}}
  </div>
  <div id="dialog-error">
    {{#if error}}
      <p class="error">{{error}}</p>
    {{/if}}
  </div>
</div>
