<h2>
  {{t "settings.custom_domain"}}
</h2>
<p>
  {{t "settings.custom_domain_description"}}
</p>

{{#if server_cname_address}}
  <p>
    {{t "settings.point_domain_cname"}}
    {{#if server_ip_address}}
      <b>{{server_ip_address}}</b>
    {{else}}
      <b>{{t "settings.our_ip_address"}}</b>
    {{/if}} {{t "settings.or_cname_to"}}
    <b>{{server_cname_address}}</b>. {{t "settings.cloudflare_note"}}
  </p>
  <p>{{t "settings.then_add_domain_form"}}</p>
{{else}}
  <p>
    {{t "settings.point_domain_a"}}
    {{#if server_ip_address}}
      <b>{{server_ip_address}}</b>
    {{else}}
      <b>{{t "settings.our_ip_address"}}</b>
    {{/if}} 
    {{t "settings.then_add_domain_form"}}
  </p>
{{/if}}

{{> settings/domain/table}}
<div class="add-domain-wrapper">
  <button
    type="button"
    class="secondary show-domain-form"
    hx-indicator=".add-domain-wrapper"
    hx-get="/add-domain-form"
    hx-target="#domain-form-wrapper"
    hx-swap="innerHTML"
    hx-on::after-request="event.srcElement.classList.add('hidden')"
  >
    <span>{{> icons/plus}}</span>
    {{t "settings.add_domain"}}
  </button>
  {{> icons/spinner}}
  <div id="domain-form-wrapper">
  </div>
</div>
{{> settings/domain/dialog}}
