<form
    id="new-password-form"
    class="htmx-spinner"
    hx-post="/api/auth/new-password"
    hx-vals='{"reset_password_token":"{{reset_password_token}}"}'
    hx-sync="this:abort"
    hx-swap="outerHTML"
  > 
  <label class="{{#if errors.new_password}}error{{/if}}">
    {{t "reset_password.new_password_field"}}
    <input 
      id="new_password" 
      name="new_password" 
      type="password" 
      placeholder="{{t 'reset_password.new_password_placeholder'}}"
      hx-preserve="true"
      required
      autocomplete="new-password"
    />
    {{#if errors.new_password}}<p class="error">{{errors.new_password}}</p>{{/if}}
  </label>
  <label class="{{#if errors.repeat_password}}error{{/if}}">
    {{t "reset_password.confirm_password"}}
    <input 
      id="repeat_password" 
      name="repeat_password" 
      type="password" 
      placeholder="{{t 'reset_password.repeat_password_placeholder'}}"
      hx-preserve="true"
      required
      autocomplete="new-password"
    />
    {{#if errors.repeat_password}}<p class="error">{{errors.repeat_password}}</p>{{/if}}
  </label>
  <button type="submit" class="primary">
    <span>{{> icons/spinner}}</span>
    {{t "pages.reset_password_new"}}
  </button>
  {{#unless errors}}
    {{#if error}}
      <p class="error">{{error}}</p>
    {{/if}}
  {{/unless}}
</form>
